.card
  .title
    h3.center Investimentos
  .content
    = simple_form_for([:regular, @investment], url: regular_investment_path(@stock.id), method: :patch) do |f|
      = f.error_notification

      .form-inputs
        = f.input :stock_symbol, disabled: true
      .form-inputs
        = f.input :qtd
      = f.input :price, :as => "hidden", :input_html => {:value => Portfolio.cached_price(@investment.stock_symbol)}

      .form-actions
        = f.button :submit, "Vender Ações"