.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Investimentos"
  .content
    = simple_form_for([:regular, @investment]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :stock_symbol, disabled: true
      .form-inputs
        = f.input :qtd
      = f.input :price, :as => "hidden", :input_html => { :value => Portfolio.cached_price(@investment.stock_symbol) }

      .form-actions
        input.button type="button" name="btn" value="Comprar Ações" onclick="window.location='fillup.php'" data-modal-type="confirm"
        = f.button :submit, "Comprar Ações 2"