= simple_form_for([:manager,@account]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :acc_number, disabled: @account.persisted?, hint: 'You cannot change an account number.'
    = f.input :role, collection: Account.roles_collection, include_blank: false
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit
