.card
  .title
    h3.center Gerenciamento de Contas
  .content
    table
      thead
        tr
          th Conta
          th Nome
          th Tipo
          th
      tbody
        -@accounts.each do |acc|
          tr
            td= acc.acc_number
            td= acc.name
            td= acc.role
            td
              = link_to manager_account_path(acc), title: 'Ver Saldo' do
                i.fi-eye
              = link_to edit_manager_account_path(acc), title: 'Editar' do
                i.fi-pencil
