.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Depósito"
  .content
    = simple_form_for([:regular, @deposit]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :ammount

      .form-actions
        = f.button :submit, 'Depositar'
