.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Investimentos"
  .content
    = simple_form_for([:vip, @investment], url: vip_investment_path(@stock.id), method: :patch ) do |f|
      = f.error_notification

      .form-inputs
        = f.input :stock_symbol, disabled: true
      .form-inputs
        = f.input :qtd
      = f.input :price, :as => "hidden", :input_html => {:value => Portfolio.cached_price(@investment.stock_symbol)}
      = f.input :stock_symbol, :as => "hidden"

      .form-actions
        a#submitBtn.button data-toggle="confirmationModal" Vender Ações

#confirmationModal.reveal data-close-on-click="true" data-reveal=""
  h3 Confirmação de compra!
  table
    tr
      th Ação
      td#c_stock_symbol
    tr
      th Quantidade
      td#c_qtd
    tr
      th= '*Total'
      td#c_total
    tr
      th Taxas
      td#c_tax
    tr
      th= '*Comissão'
      td#c_commision
    tr
      th= '*A receber'
      td#c_final

  h5= "*Valores sujeitos à variação da cotação"
  button.close-button aria-label=("Close reveal") data-close="" type="button"
    span aria-hidden="true" &times;
  button.button#submit Confirmar Venda

javascript:
  $('#submitBtn').click(function () {
      $('#c_stock_symbol').text($('#investment_stock_symbol').val());
      $('#c_qtd').text($('#investment_qtd').val());
      var total = Number($('#investment_price').val()) * Number($('#investment_qtd').val());
      $('#c_total').text(round_2f(total));
      $('#c_tax').text(round_2f(#{Investment::FEE}));
      var commission = round_2f(#{Investment::COMMISSION_RATE}*total);
      $('#c_commision').text(round_2f(commission));
      $('#c_final').text(total - commission - #{Investment::FEE});
  });

  $('#submit').click(function () {
      $('#new_investment').submit();
  });