.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Investimento - Ações Disponíveis"
  .content
    table
      thead
        tr
          th Ação
          th Preço
          th
      tbody
        -@available_stocks.each do |st|
          tr
            td= st.stock_symbol
            td= st.formatted_current_price
            td= link_to("Comprar", new_vip_investment_path(stock: st.stock_symbol))
.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Investimento - Portfólio"
  .content
    table
      thead
        tr
          th Ação
          th Quantidade
          th Preço de Compra
          th Preço Atual
          Th Rendimento
          th
      tbody
        -@my_stocks.each do |st|
          tr
            td= st.stock_symbol
            td= st.qtd
            td= st.formatted_price
            td= st.formatted_current_value
            td= st.income_percentage
            td= link_to("Vender", edit_vip_investment_path(st))