.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Investimentos"
  .content
    = simple_form_for([:vip, @investment]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :stock_symbol, disabled: true
      .form-inputs
        = f.input :qtd
      = f.input :price, :as => "hidden", :input_html => { :value => Portfolio.cached_price(@investment.stock_symbol) }
      = f.input :stock_symbol, :as => "hidden"

      .form-actions
        a#submitBtn.button data-toggle="confirmationModal" Comprar Ações

#confirmationModal.reveal data-close-on-click="true" data-reveal=""
  h3 Confirmação de compra!
  table
    tr
      th Ação
      td#c_stock_symbol
    tr
      th Quantidade
      td#c_qtd
    tr
      th= '*Total'
      td#c_total
  h5= "*Valor sujeito à variação da cotação"
  button.close-button aria-label=("Close reveal") data-close="" type="button"
    span aria-hidden="true" &times;
  button.button#submit Confirmar Compra

javascript:
    $('#submitBtn').click(function () {
        $('#c_stock_symbol').text($('#investment_stock_symbol').val());
        $('#c_qtd').text($('#investment_qtd').val());
        var total = Number($('#investment_price').val()) * Number($('#investment_qtd').val());
        $('#c_total').text(round_2f(total));
    });

    $('#submit').click(function () {
        $('#new_investment').submit();
    });