.card
  .title
    h3.center= "Conta #{@acc.acc_number}"
  .content
    ul
      li
        h4 = "Saldo: #{@acc.formatted_balance}"
    hr
    table
      thead
        tr
          th Data
          th Operação
          th Descrição
          th Valor
      tbody
        -@operations.each do |op|
          tr
            td= op.formatted_datetime
            td= op.formatted_type
            td= op.description
            td= op.formatted_ammount