.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Extrato"
  .content
    ul
      li
        h5 = "Saldo: #{@acc.formatted_balance}"
      li
        h5 = "Juros: #{@acc.formatted_interests}"
      li
        h4= "Saldo Final: #{@acc.formatted_balance_with_interests}"
    hr
    table
      thead
        tr
          th Data
          th Operação
          th Descrição
          th Valor
      tbody
        -@operations.each do |op|
          tr
            td= op.formatted_datetime
            td= op.formatted_type
            td= op.description
            td= op.formatted_ammount