.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Transferência"
  .content
    = simple_form_for([:regular, @transfer]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :account_number
      .form-inputs
        = f.input :ammount

      .form-actions
        = f.button :submit, "Transferir Fundos"