.wrapper
  .row
    .large-12.large-centered.columns
      .card
        .title.primary_color
          h3.center.logo.inverted= "Nilbank"
        .content
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inputs
              = f.input :acc_number, required: false, autofocus: true, label:'conta'
              = f.input :password, required: false, label:'senha'
            .form-actions
              = f.button :submit, "Entrar"
          /= render "devise/shared/links"
