.card
  .title
    h3.center= "Conta #{@acc.acc_number}"
  .content
    ul
      li
        h5 = "Saldo: #{@acc.formatted_balance}"
      li
        h5 = "Juros: #{@acc.formatted_interests}"
      li
        h4= "Saldo Final: #{@acc.formatted_balance_with_interests}"
    hr
    ul
      -@acc.formatted_visit_calls.each do |v|
        li= v