.card
  .title
    h3.center= "Conta #{@acc.acc_number} - Saque"
  .content
    = simple_form_for([:vip, @withdraw]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :ammount

      .form-actions
        = f.button :submit, "Sacar"