@import 'settings';
//body {
//  background-color: #fff;
//  color: #333;
//  font-family: verdana, arial, helvetica, sans-serif;
//  font-size: 13px;
//  line-height: 18px;
//  margin: 33px;
//}
//
//p, ol, ul, td {
//  font-family: verdana, arial, helvetica, sans-serif;
//  font-size: 13px;
//  line-height: 18px;
//  margin: 33px;
//}
//
//pre {
//  background-color: #eee;
//  padding: 10px;
//  font-size: 11px;
//}
//
//a {
//  color: #000;
//
//  &:visited {
//    color: #666;
//  }
//
//  &:hover {
//    color: #fff;
//    background-color: #000;
//  }
//}
//
//th {
//  padding-bottom: 5px;
//}
//
//td {
//  padding-bottom: 7px;
//  padding-left: 5px;
//  padding-right: 5px;
//}
//
//div {
//  &.field, &.actions {
//    margin-bottom: 10px;
//  }
//}
//
//#notice {
//  color: green;
//}
//
//.field_with_errors {
//  padding: 2px;
//  background-color: red;
//  display: table;
//}
//
//#error_explanation {
//  width: 450px;
//  border: 2px solid red;
//  padding: 7px;
//  padding-bottom: 0;
//  margin-bottom: 20px;
//  background-color: #f0f0f0;
//
//  h2 {
//    text-align: left;
//    font-weight: bold;
//    padding: 5px 5px 5px 15px;
//    font-size: 12px;
//    margin: -7px;
//    margin-bottom: 0;
//    background-color: #c00;
//    color: #fff;
//  }
//
//  ul li {
//    font-size: 12px;
//    list-style: square;
//  }
//}
//
//label {
//  display: block;
//}

.center {
  align: center;
  text-align: center;
}
.graph {
  width: 100% !important;
  max-width: rem-calc(1200)  !important;
}

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

html,body { // for demo only
  background: #F6F6F6;
}

.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .content {
    padding: 1.3rem;
    font-weight: 400;
    border-radius: 0 0 2px 2px;
  }
  p {
    margin: 0;
  }
  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
  }
  a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
  }
  .image {
    position: relative;
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff;
    }
    img {
      border-radius: 2px 2px 0 0;
    }
  }
}
.wrapper {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3 {
    color: $primary-color;
  }
}

.top-bar {
  color: $white;
  background-color: $primary-color;
  .menu-text {
    color: $white;
    background-color: $primary-color;

  }
}

.card {
  .title {
    color: $white;
    background-color: $secondary-color;
    padding: 5px 1px;
  }
}

ul.vertical{
  max-width: 130px;
}

.report-container {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.tabs-title a {
  padding: .75rem 1.5rem;
}

.tabs-content {
  width: 100%;
}
.logo {
  font-family: 'Righteous', cursive;
}

.inverted {
  color: #B0BEC5 !important;
}

.light-secondary {
  background-color: $secondary-color-light;
}

.primary_color {
  background-color: $primary-color !important;
}

.top-bar-right a {
  color: $secondary-color-light;
  &:hover {
    color:$white;
  }
}

.top-bar-right {
  font-size: 0.85rem;
}

.bogus-tabs-title {
  font-size: 0.75rem;
  background-color: $secondary-color-light;
  a {
    padding: .75rem 1.5rem;
    display: block;
  }
}