doctype html
html lang="pt-BR"
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    title = content_for?(:title) ? yield(:title) : "Nilbank"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    = yield
