doctype html
html lang="pt-BR"
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    title = content_for?(:title) ? yield(:title) : "Nilbank"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    .top-bar
      .top-bar-left
        ul.dropdown.menu
          li.menu-text Nilbank VIP
      .top-bar-right
        ul.menu
          li.primary_color= link_to(current_account.name, '/vip')
          li.primary_color= link_to('Logout', destroy_account_session_path, :method => :delete)

    section.container#container{data-toggler=".closed"}
      .row
        .large-12.columns
          ul.menu
            li= link_to "Início", vip_root_path
            li= link_to "Extrato", vip_statements_path
            li= link_to "Depósito", new_vip_deposit_path
            li= link_to "Saque", new_vip_withdraw_path
            li= link_to "Transferência", new_vip_transfer_path
            li= link_to "Investimento", vip_investments_path
            li= link_to "Visitas", vip_visits_path, data: { confirm: "Tem certeza que deseja solicitar uma visita do seu gerente?\n Essa operação custa R$250,00" }
      br
      .row
        .large-12.columns
          -flash.each do |key, value|
            .callout class="#{callout_class(key)}" data-closable= true
              h5= value
              button.close-button aria-label=("Dismiss alert") data-close="" type="button"
                span aria-hidden="true" &times;
      .row
        .large-12.columns
          = yield